// FONT WEIGHTS:
$fontWeightNormal: 400;
$fontWeightMedium: 500;
$fontWeightSemibold: 600;
$fontWeightBold: 700;

// FONT SIZES:
$fontSizeXSmall: 10px;
$fontSizeSmall: 12px;
$fontSizeRegular: 14px;
$fontSizeMedium: 16px;
$fontSizeMedLarge: 18px;
$fontSizeMedPlus: 20px;
$fontSizeLarge: 24px;
$fontSizeXLarge: 32px;
$fontSizeXLargePlus: 36px;
$fontSizeXLarger: 40px;
$fontSizeXXLarge: 48px;

$fontSizeTitle: $fontSizeLarge;

// LINE HEIGHTS:
$lineHeightXSmall: 20px;
$lineHeightSmall: 16px;
$lineHeightRegular: 20px;
$lineHeightMedium: 22px;
$lineHeightMedLarge: 28px;
$lineHeightMedPlus: 1.25;
$lineHeightLarge: 30px;
$lineHeightXLarge: 40px;
$lineHeightXLargePlus: 45px;
$lineHeightXLarger: 50px;
$lineHeightXXLarge: 57px;
